.menu-wrapper {
  width: 1366px;
  height: 63px;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.63));
  background-color: #010b13;
}

.menu-title {
  display: inline-block;
  font-size: 29px;
  color: #ffffff;
  font-family: "Roboto Bold";
}

.btn {
  display: inline-block;
  width: 137px;
  height: 40px;
  border-radius: 10px;
  border: 1.5px solid #ffffff;
  background-color: #000000;
  
  font-size: 21px;
  color: #ffffff;
  font-family: "Roboto Condensed";
  font-weight: 700;
  text-align: center;
}

.active-btn {
  border: 1.5px solid #000000;
  background-color: #ffffff;
  color: #000000;
}

.card-view-btn {
  width: 40px;
  height: 20px;
  background-color: #010b13;
  border: none;
  background-image: url(../../assets/svg/card-view.svg);
  margin-right: 20px;
  padding: 0;
  background-size: auto;
  background-repeat: no-repeat;
}

.list-view-btn {
  width: 40px;
  height: 20px;
  background-color: #010b13;
  border: none;
  background-image: url(../../assets/svg/list-view.svg);
  margin: 0 auto;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
}