.header-wrapper {
  width: 1366px;
  height: 60px;
  background-color: #389ef2;
}

.header-title {
  display: inline-block;
  font-size: 25px;
  color: #ffffff;
  font-family: "Roboto Condensed Italic";
  font-weight: 700;
}

.header-tagline {
  display: inline-block;
  font-size: 14px;
  color: #fefefe;
  font-family: "Roboto Condensed Light";
  font-weight: 700;
}

.header-sign-up {
  display: inline-block;
  font-size: 22px;
  color: #fefefe;
  font-family: "Roboto Condensed";
  font-weight: 700;
}

.header-log-in {
  display: inline-block;
  font-size: 22px;
  color: #fefefe;
  font-family: "Roboto Condensed";
  font-weight: 700;
}

.header-about {
  font-size: 25px;
  color: #ffffff;
  font-family: "Roboto Bold";
}
